<!DOCTYPE html>
%html
  %head
    %title pull-rebase
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %nav
      - if @twitter.nil?
        = link_to 'Sign in with Twitter', '/auth/twitter'
      - else
        = link_to 'Sign out from Twitter', '/#'
      
      - if @facebook.nil?
        = link_to 'Sign in with Facebook', '/auth/facebook'
      - else
        = link_to 'Sign out from Facebook', '/#'
    
    %p{:class => "notice"}= notice
    %p{:class => "alert"}= alert

    = yield
